body { 
    background: #CCCCCC;
}

#banner {
    
}

h1 {
    text-align: center;
}

P {
    text-align: center;
}

#forte {
    font-size: 20px; text-align: center;
}

em strong {
    color: red;
}

